{% import_yaml "docker/mysql-docker/defaults.yaml" as default_settings %}

{% set mysql_docker = salt['pillar.get'](
    'mysql_docker',
    default=default_settings.mysql_docker,
    merge=True
  )
%}
